<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand title-navbar" href="{{path('homepage')}}">
        <h1>WILD FREAK CIRCUS</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{path('performances')}}">Performances</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('artists')}}">Artists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.google.com/search?q=animal+cruelty+circus&client=ubuntu&hs=MuY&channel=fs&sxsrf=ACYBGNQBHuSQCN6ISJYfufed7B7nnuN4sw:1580315598458&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjq74OvnqnnAhWwAmMBHX3SA70Q_AUoAXoECAsQAw&biw=1600&bih=748">Animals</a>
            </li>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_boardtable') }}"> Boardtable</a>
                </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link"">Kikou</a>
                        </li>
                        {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'app_login'? 'active' : '' }}" href="{{ path('app_login') }}">
                        Login
                    </a>
                </li>

            {% endif %}
        </ul>
    </div>
</nav>


