{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid my-5">

        <div class="row d-flex justify-content-around align-items-center map-complete">
                <div class="map">
                    {% for y in 0..5 %}
                        <div class="row">
                            {% for x in 0..6 %}
                                {% if map[x][y] is defined %}
                                    <div class="tile col-1 d-flex align-items-center {{ map[x][y].type ? ' ' : 'bg-dark' }}">
                                        {% if user.coordX == x and user.coordY == y %}
                                            <img class="user img-fluid" src="{{ asset('build/images/user.png') }}"
                                                 alt="user"/>
                                        {% endif %}
                                        {% if map[x][y].isHideout %}
                                            <img class="user img-fluid" src="{{ asset('build/images/safe-copie.png') }}"
                                                 alt="user"/>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                <div class="navigation">
                    <div class="d-flex flex-column">
                        <button class="btn btn-dark border border-white">
                            <a href="{{ path('move', {'direction' :  'N', 'performance' : performance }) }}"> &#x2191 NORTH</a>
                        </button>
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-dark border border-white mt-1">
                                <a href="{{ path('move', {'direction' :  'W', 'performance' : performance }) }}">&#x2190 WEST</a>
                            </button>
                            <button class="btn btn-dark border border-white mt-1">
                                <a href="{{ path('move', {'direction' :  'E', 'performance' : performance }) }}">EAST &#x2192 </a>
                            </button>
                        </div>
                        <button class="btn btn-dark border border-white mt-1">
                            <a href="{{ path('move', {'direction' :  'S', 'performance' : performance }) }}"> &#x2193 SOUTH</a>
                        </button>
                    </div>
                </div>

        </div>
    </div>
{% endblock %}