{% extends 'base.html.twig' %}

{% block title %}Performance index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Performance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>ImageName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for performance in performances %}
            <tr>
                <td>{{ performance.id }}</td>
                <td>{{ performance.name }}</td>
                <td>{{ performance.description }}</td>
                <td>{{ performance.date ? performance.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ performance.imageName }}</td>
                <td>
                    <a href="{{ path('performance_show', {'id': performance.id}) }}">show</a>
                    <a href="{{ path('performance_edit', {'id': performance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('performance_new') }}">Create new</a>
    </div>
{% endblock %}
