{% extends 'base.html.twig' %}

{% block title %}Performance index{% endblock %}

{% block body %}
    <div class="container text-white my-5">
    <h1 class="typo-horror">Performance index</h1>
        <a href="{{ path('performance_new') }}" class="btn btn-secondary m-2">Create new</a>

    <table class="table text-white">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>ImageName</th>
{#
                <th>Actors</th>
#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for performance in performances %}
            <tr>
                <td>{{ performance.name }}</td>
                <td>{{ performance.description }}</td>
                <td>{{ performance.imageName }}</td>
                {% for artist in performance.artists %}
               {# <td>
                            {{ artist.nickname }}
                </td>#}
                {% endfor %}
                <td>
                    <a href="{{ path('performance_show', {'id': performance.id}) }}"><i class="fab fa-optin-monster fa-2x"></i></a>
                    <a href="{{ path('performance_edit', {'id': performance.id}) }}"><i class="fas fa-pen-nib fa-2x"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
